.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  gap: 10px;
  margin: 44px auto 0 auto;
  max-width: 1200px;
}

.loader_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.error_text {
  color: red;
  margin-top: 50px;
}
